ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
  padding: 5px 0 5px;
}

 *{
  margin: 0;
  padding: 0;
}


